.card{
width: 200px;
height: 200px;
border: 2px solid black;

}
.card-headerpurple{
    width: 200px;
    height: 90px;
    background-color: purple;
}
.cardheaderbrown{
    width: 200px;
    height: 90px;
    background-color: brown;
}

.container{
    display: flex;
    margin-top: 15px;
    gap: 25px;
    
}
nav{
    border: 3px solid red;
    border-color: red;
background-color: green;

}
.navbar{
    display: flex;
    justify-content: space-between;
 align-items: center;
}
.help{
    justify-content: right;
}